 @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'PT Sans', sans-serif;
 }

 :root {
     --color-background-blue: #0047Af;
     --color-text-blue: #0b51b3;
     --color-grey-nav2-text: #010101;
     --color-black: black;
     --color-white: #ffff;
     --color-grey-button: #bcbcbc;
     --color-yellow: #fecc4e;
     --color-cardHeading: #181818;
     --color-body-text: #212529;
     --color-background: #F1F1F1;

     --font-family: 'PT Sans', sans-serif;

     --size-12px: 0.75rem;
     --size-13px: 0.8125rem;
     --size-14px: 0.875rem;
     --size-15px: 0.9375rem;
     --size-paragraph: 1rem;
     --size-sub-heading: 1.125rem;
     /*18px*/
     --size-20px: 1.25rem;
     /*20px*/
     --size-cardHeading1: 1.5rem;
     /*24px*/
     --size-cardHeading2: 1.5625rem;
     /*25px*/
     --size-30px: 1.875rem;
 }

 body {
     overflow-x: hidden;
     background-color: var(--color-background);
     width: 100vw;
 }
html{
    scroll-behavior: smooth;
}
 /* --------HEADER SECTION------------ */

 header {
     max-width: 100%;
     position: relative;
     z-index: 100;
 }

 /* -- Top-NAVBAR -- */
 .navbar-top {
     max-width: 100%;
     background-color: var(--color-yellow);
     z-index: 100;
 }

 .nav-content {
     max-width: 78.5rem;
     display: flex;
     margin: auto;
     justify-content: space-between;
     align-items: center;
     padding: 0.75rem 0;
 }

 .navList {
     display: flex;
     justify-content: space-around;
     width: 52%;
     margin-left: 15%;
     gap: 1rem;
 }

 .blogHyperLink {
     display: flex;
     margin-left: -60px;
     align-items: center;
     justify-content: center;
     width: 10%;
 }

 .nav-content a {
     font-size: var(--size-13px);
     text-decoration: none;
     color: var(--color-black);
     font-weight: 500;

 }

 .blogHyperLink a {
     font-size: 11px;
 }

 .vertical-line {
     background-color: black;
     color: black;
     width: 0.95px;
     margin: 0 12px;
     height: 14px;
     border: none;
 }
.user-content{
    color: var(--color-text-blue);
}
 .patient a,
 .user-content a {
     font-weight: bold;
     color: var(--color-background-blue);
 }

 .user-content span{
    font-size: 12px;
    font-weight: bold;
 }
 .navList a:hover {
     text-decoration: underline;
     color: var(--color-background-blue);
     font-weight: bold;
 }

 .patient a {
     text-decoration: underline;
 }
.Account-user{
    display: flex;
    flex-direction: column;
    padding:8px;
    color:black;
    font-size: 1rem;
    border: 1px solid #fcc740;
}
#account-image{
    background-color: #0047Af;
    color:white;
    border-radius: 50%;
    padding:5px;
}

.drop-down{
    background-color: white;
    color:black;
    position: absolute;
    z-index:30; 
    visibility: collapse;

}
.acc-head{
    margin-bottom: 10px;
}
.user input{
    display: none;
}
.welcome-guest{
    font-weight: 400;
}
.my-order a, .my-permission a, .wallet-balance a{
    display: flex;
    justify-content:flex-start;
    padding:8px;
    border:1px solid white;
    color:black;
    font-size: 1rem;
    font-weight: 400;
    gap: 12px;
}

.user input{
    &:checked + label + .drop-down{
        visibility: visible;
    } 
}
.welcome-guest span{
    font-size: 14px;
}
.drop-down div a span{
    font-size: 12px;
    margin-right: 10px;
}

 /* ------------Bottom-NAVBAR----------- */

 .navbar-bottom {
     display: flex;
     width: 100%;
     background-color: #F5F5F5;
     box-shadow: 0 8px 10px -6px rgba(0, 0, 0, .3);
 }

 .navbar-bottom-content {
     display: flex;
     width: 100vw;
     max-width: 85rem;
     justify-content: space-between;
     align-items: center;
     margin: auto;
     gap: 50px;
     padding: 10px 0 18px;
     overflow: hidden;
 }

 .navbar-bottom-content img {
     margin-left: 20px;
 }

 .left {
     display: flex;
     width: 45%;
     gap: 10%;
     align-items: center;
 }

 .right {
     display: flex;
     align-items: end;
     width: 55%;
     margin: -12px;
     gap: 10px;
 }

 .location {
     display: flex;
     gap: 8px;
     margin-left: 5px;
 }

 .left a {
     text-decoration: none;
     font-size: var(--size-13px);
     color: var(--color-grey-nav2-text);
     white-space: nowrap;
 }

 .city-name {
     font-size: 11px;
     margin-top: -10px;
 }

 .search-location input {
     min-width: 100px;
     max-width: 100%;
     outline: none;
     border: none;
     border-bottom: 1.7px solid #448ac0;
     background-color: #f5f5f5;
     padding: 10px 5px;
     border-radius: 5px;
 }

 .search-location ::placeholder {
     font-size: 10px;
 }

 .location .icon {
     font-size: 26px;
     color: var(--color-background-blue);
 }

 .search-test input {
     border: none;
     width: 100%;
     padding: 10px 5px;
     outline: none;
     background-color: transparent;

 }

 .search-test form {
     display: flex;
     padding-right: 8px;
     align-items: center;
     width: 270px;
     outline: none;
     border: none;
     border-bottom: 1.7px solid #448ac0;
     border-radius: 5px;
     background-color: white;
 }

 .search-test form i {
     font-size: var(--size-20px);
     color: #448ac0;
 }

 .cart img {
     height: 28px;
     margin: 0 50px 0 10px;
 }
 .cart img:hover{
    cursor: pointer;
 }

 .search-test ::placeholder {
     font-size: var(--size-12px);
 }

 .j-menu,
 .call {
     display: none;
 }

 /* <!-- On click Side Menu For Small screen --> */
 .menu-container{
    display: flex;
    flex-direction: column;
    background-color:var(--color-white);
    width: 80%;
    display: block;
    cursor: pointer;
    position: fixed;
    left: -160%;
    top: 0px;
    box-shadow: 220px 0 0px rgba(0, 0, 0, .8);
    /* visibility: hidden; */
    transition: 0.1s ease-in;
    z-index: 200;
    height: 100vh;
    
  
}
#checkbox{
    /* visibility: hidden; */
    display: none;
}
 input{
    &:checked + label + .menu-container {
        left: 0;
    } 

    &:checked + label {
        left: 150px;
        top: 20px;
        z-index: 100;
    }
}
.menu-content a{
    text-decoration: none;
    color: var(--color-black);
    margin: 20px 0;
}
.menu-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.menu-content div :nth-child(1){
    display: flex;
    gap: 20px;
}
.down-arrow img, .close{
    margin-right: 20px;
}
.user>div:nth-child(1) span{
 color: var(--color-text-blue);
 font-weight: bold;
}
.menu-container>div:not(:nth-child(1)){
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.menu-content div a img{
    width: 20px;
}
.close i{
    background-color: var(--color-body-text);
    padding: 5px;
    border-radius: 50%;
    color: var(--color-white);
}
.download-app a span>img{
    margin: 0;
}
.download-app a span:nth-child(2){
    display: flex;
}
.download-app div a{
    margin-left: 20px;
}
.download-app span:nth-child(2) img{
    margin: 0 5px;
}
.patient-list ul{
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 60px;
    list-style: none;
    width: 200px;
    line-height: 25px;
}
.patient-container{
    width: 100%;
}
.patient-arrow div .down-arrow{
    flex-grow: 1;
}
.patient-arrow div .down-arrow img{
    height: 15px;
    width: 10px;
    margin-left: 95%;
}
.menu a:hover{
    text-decoration: underline;
}



 /* -------------------------MAIN SECTION--------------- */

 main {
     position: relative;
     z-index: 2;
 }

 /* ----------------------Hero Image carausel-------------------*/

 .carausel {
     width: 100%;
     overflow: hidden;
     /* margin-top: -20px; */
 }

 .carausel figure {
     position: relative;
     width: 500%;
     left: 0;
     margin: 0;
     animation: 20s slider infinite;
 }

 .carausel figure img {
     float: left;
     width: 20%;
 }

 @keyframes slider {
     0% {
         left: 0;
     }

     20% {
         left: 0;
     }

     25% {
         left: -100%;
     }

     45% {
         left: -100%;
     }

     50% {
         left: -200%;
     }

     70% {
         left: -200%;
     }

     75% {
         left: -300%;
     }

     95% {
         left: -300%;
     }

     100% {
         left: -400%;
     }
 }

 /* -- Hero items below Carausel -- */

 .blue-card {
     width: 100%;
     background-color: var(--color-background-blue);

 }

 .blue-card-container {
     display: flex;
     max-width: 1000px;
     margin: auto;
     justify-content: space-around;
     align-items: center;
     padding: 1.85rem 1.5rem 5.5rem;
 }

 .blue-card-items {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;
     width: 25%;
     border-left: 1px solid var(--color-yellow);
 }

 .blue-card-items a {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;

     color: white;
     text-decoration: none;
 }

 .blue-card-items div {
     transition: 0.2s ease-in-out;
     text-align: center;
     margin-bottom: 15px;
 }

 .report {
     border-right: 1px solid var(--color-yellow);
 }

 .blue-card-items div:hover {
     transform: scale(1.2);
 }

 .blue-card-items a div {
     width: 100%;
 }

 /* FIXED SIDE_ELEMENT */
.side-element a{
    text-decoration: none;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    /* width: 30px; */
    align-items: center;
} 
.side-element a p{
    font-size: 11px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: 5px;
}
.side-element{
    position: sticky;
    top: 200px;
    left: 96%;
    background-color: var(--color-white);
    width: 65px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    text-align: center;
    padding: 5px 0;
    z-index: 1;
}
.side-element a:nth-child(4) p{
    border-bottom: none;
}
.side-element a img{
    transition: 0.2s ease-in-out;
    width: 25px;
}
.side-element a img:hover{
    transform: scale(1.2);
}

 /* -----------------------SPECIAL PROGRAM SECTION--------------------- */
 .special-program {
     position: relative;
     width: 100%;
     height: 300px;
     margin-top: -300px;
 }

 .program-container {
     position: absolute;
     /* left: 7%; */
     top: -55px;
     margin: auto;
     width: 100%;
     max-width: 1320px;
     background-color: var(--color-white);
     color: var(--color-black);
     padding: 15px;
     border-radius: 15px;

 }

 .program-container>p {
     font-size: 1.625rem;
     font-weight: 600;

 }

 .program-carausel {
     position: relative;
     width: 100%;
     overflow: hidden;
     margin: 30px auto 90px;
 }

 .program-carausel-content {
     position: relative;
     width: 250%;
     left: 0;
     margin-left: -10px;
     animation: 20s special infinite;
     display: flex;
 }

 .program-items {
     width: 55%;
     text-align: center;
     border-left: 1px solid #d9d9d9;
 }

 .program-items img {
     margin-bottom: 15px;
     transition: 0.2s ease-in-out;
     cursor: pointer;
 }
 .program-items img:hover {
    transform: scale(1.2);
 }
 .program-items p {
     font-size: var(--size-15px);
     color: var(--color-body-text);
     font-weight: 600;
 }

 .program-carausel i, .blog-container i {
     padding: 10px 13px;
     border-radius: 50%;
     background-color: var(--color-yellow);
 }

 .program-carausel .fa-chevron-right, .right-arrow {
     position: absolute;
     right: 0;
     top: 60%;
 }

 .program-carausel .fa-angle-left, .left-arrow {
     position: absolute;
     top: 60%;
 }

 .centerr {
     width: 100%;
     max-width: 1320px;
     margin: auto;
 }

 @keyframes special {
     0% {
         left: 0;
     }

     20% {
         left: 0;
     }

     25% {
         left: -25%;
     }

     45% {
         left: -25%;
     }

     50% {
         left: -50%;
     }

     70% {
         left: -50%;
     }

     75% {
         left: -75%;
     }

     95% {
         left: -75%;
     }

     100% {
         left: -100%;
     }
 }

 .popular-test {
     width: 100%;
     position: relative;
     margin-top: 15px;
     height: 395px;
 }

 /* -- POPULAR TEST/ PACKAGES SECTION -- */

 .popular-test-container {
     position: absolute;
     top: -55px;
     margin: auto;
     width: 100%;
     max-width: 1320px;
     background-color: var(--color-white);
     color: var(--color-black);
     padding: 15px;
     border-radius: 15px;
 }

 .popular-test-content {
     position: relative;
     width: 235%;
     left: 0;
     animation: 20s test-slider infinite;
     display: flex;
 }

 .popular-test-item {
     box-shadow: 0 0 5px rgb(180, 178, 178);
     margin: 20px 10px;
     padding: 20px;
     text-align: left;
     border-radius: 15px;
     width: 65%;
 }

 .popular-test-container>p {
     font-size: var(--size-cardHeading2);
     font-weight: 600;
 }

 .popula-carausel {
     margin: 0 0 40px;
 }

 .popular-test-item ul {
     list-style: none;
 }

 .popular-test-item ul li {
     display: flex;
 }

 .know-more {
     text-align: right;
     color: var(--color-text-blue);
     margin: 35px 0 5px;
     /* font-weight: 600; */
 }
 .know-more:hover{
    font-weight: normal;
 }

 .popular-test-item ul .last-list img {
     height: 21px;
 }

 .popular-test-item hr {
     margin: 5px 0 15px;
 }

 .price {
     display: flex;
     justify-content: space-between;
     background: linear-gradient(90deg, var(--color-yellow) 65%, var(--color-text-blue) 65%);
     padding: 7px;
     border-radius: 5px;
 }
#rupee-icon i {
    padding: 0;
    border-radius: 0;
 }
 .price p:nth-child(2) {
     color: white;
     font-weight: normal;
     width: 120px;
     text-align: center;
 }

 .popular-test ul span {
     font-size: var(--color-body-text);
     margin-left: 5px;
 }

 .popula-carausel .fa-chevron-right {
     position: absolute;
     right: 0;
     top: 50%;
 }

 .popula-carausel .fa-angle-left {
     position: absolute;
     top: 50%;
 }

 .price p:nth-child(2):hover, .know-more:hover {
    font-weight: 600;
    cursor: pointer;
 }
 @keyframes test-slider {
     20% {
         left: 0;
     }

     20% {
         left: 0;
     }

     25% {
         left: -33.33%;
     }

     45% {
         left: -33.33%;
     }

     50% {
         left: -66.66%;
     }

     70% {
         left: -66.66%;
     }

     75% {
         left: -99.99%;
     }

     100% {
         left: -99.99%;
     }

 }

 /*----------------- SEARCH TEST AND PACKAGES SECTION----------------------------- */

 .test-packages {
     width: 100%;
     margin-top: 45px;
 }

 .test-packages-content {
     position: relative;
     width: 150%;
     left: 0;
     display: flex;
     align-items: center;
     margin-left: -20px;
 }

 .test-packages-content p {
     font-weight: 400;
 }

 .test-packages-container {
     margin: auto;
     width: 100%;
     max-width: 1320px;
     background-color: var(--color-white);
     color: var(--color-black);
     padding: 15px;
     border-radius: 15px;
 }

 .test-package-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
 }

 .test-packages-button {
     display: flex;
     gap: 20px;
     flex-wrap: wrap;
 }

 .test-packages-button a {
     text-decoration: none;
     color: var(--color-white);
     font-weight: 600;
     font-size: var(--size-paragraph);
     padding: 7px 40px;
     background-color: var(--color-grey-button);
     border-radius: 20px;
     transition: 0.2s ease-in-out;
 }

 .test-packages-button .lifestyle {
     background-color: var(--color-yellow);
     color: var(--color-black);
 }

 .test-packages-container>p {
     font-size: var(--size-cardHeading2);
     font-weight: 600;
     margin-bottom: 15px;
 }

 .test-searchBar {
     border: 1px solid #bcbcbc;
     width: 25%;
     display: flex;
     justify-content: space-between;
     /* flex-grow: 1; */
 }

 .test-searchBar i {
     margin: 3px 15px;
     font-size: 18px;
     color: var(--color-text-blue);
 }

 .test-searchBar input {
     border: none;
     width: 100%;
     padding-left: 10px;
     outline: none;
 }

 .test-package-header div {
     padding: 5px 0px;
 }

 .view-all {
     text-align: end;
     /* margin-top: -20px; */
 }

 .view-all a {
     color: var(--color-text-blue);
     font-size: var(--size-20px);
 }

 /* -- Why-LALPATHLABS SECTION -- */

 .why-LalPathLabs {
     width: 100%;
 }

 .pathlab-content {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;

 }

 .pathlab-container {
     margin: auto;
     width: 100%;
     max-width: 1320px;
     background-color: var(--color-white);
     color: var(--color-black);
     padding: 15px;
     border-radius: 15px;
     margin-top: 35px;
 }

 .pathlab-items {
     min-width: 230px;
     width: 30%;
     display: flex;
     margin-bottom:1rem;
     align-items: center;
     gap: 25px;
     flex-grow: 1;
 }
 .pathlab-items img {
    transition: 0.3s ease-in-out;
 }
 .pathlab-container>p {
     color: var(--color-cardHeading);
     font-size: var(--size-cardHeading1);
     font-weight: 600;
     margin-bottom: 15px;
 }

 .pathlab-text h1 {
     font-size: var(--size-30px);
     color: var(--color-text-blue);

 }

 .pathlab-text p {
     font-size: var(--size-paragraph);
 }
.pathlab-items:hover{
    cursor: pointer;
}
 .pathlab-items:hover img {
     transform: scale(1.2);
     
 }


 /*---------------- PROMOTIONS AND DISCOUNT SECTION--------------- */

 .promotion-container {
     background-color: var(--color-white);
     border-radius: 15px;
     margin-top: 35px;
     padding: 15px;
     overflow: hidden;
 }

 .promotion-carausel {
     overflow: hidden;
 }

 .promotion-container>p {
     font-size: var(--size-cardHeading2);
     font-weight: 600;
     margin-bottom: 15px;
 }

 .promotion-content {
     display: flex;
     width: 205%;
     position: relative;
     margin-bottom: 20px;
     animation: 20s promotion infinite;
 }

 .promotion-content div {
     height: 17.5rem;
     width: 25.75rem;
     background-color: #0047Af;
     margin: 10px;
     border-radius: 20px;
 }

 .promotion-item img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, .2);
 }
 
 .promotion-item {
     position: relative;
 }

 .promotion-item p {
     position: absolute;
     top: 190px;
     left: 20px;
     width: 85%;
     text-align: center;
     background-color: var(--color-white);
     border: 1px solid var(--color-grey-button);
 }
 .promotion-item p:hover {
    cursor: pointer;  
    background-color: var(--color-background);
   }
  

 @keyframes promotion {

     0% {
         left: 0;
     }

     20% {
         left: 0;
     }

     25% {
         left: -33.33%;
     }

     45% {
         left: -33.3%;
     }

     50% {
         left: -66.66%;
     }

     70% {
         left: -66.66%;
     }

     80% {
         left: -100%;
     }

     100% {
         left: -100%;
     }



 }

 /* -----------------EXPLORE MORE SECTION ---------------------- */
 .explore-more {
     width: 100%;
     overflow: hidden;
 }

 .explore-more-container {
     background-color: var(--color-white);
     border-radius: 15px;
     margin-top: 35px;
     padding: 15px 25px;
     overflow: hidden;
 }

 .explore-carausel {
     overflow: hidden;
 }

 .explore-content {
     display: flex;
     width: 500%;
     gap: 20px;
     position: relative;
     margin-bottom: 20px;
     align-items: center;
     animation: 20s explore-more infinite;
 }

 .explore-more-container>p {
     font-size: var(--size-cardHeading2);
     font-weight: 600;
     margin-bottom: 15px;
 }

 .explore-item img {
     width: 100%;
 }

 @keyframes explore-more {
     0% {
         left: 0;
     }

     20% {
         left: 0;
     }

     25% {
         left: -100%;
     }

     45% {
         left: -100%;
     }

     50% {
         left: -200%;
     }

     70% {
         left: -200%;
     }

     75% {
         left: -300%;
     }

     95% {
         left: -300%;
     }

     100% {
         left: -400%;
     }
 }

 /*------------------ COVID PACKAGES SECTION ---------------------*/
 .covid-package {
     width: 100%;
 }

 .covid-package-container {
     background-color: var(--color-white);
     border-radius: 15px;
     margin: 35px 0;
     padding: 15px 25px;
 }

 .covid-heading {
     display: flex;
     justify-content: space-between;
     gap: 25px;
 }

 .covid-heading h1 {
     width: 50%;
 }
.covid-card div h1{
    margin-bottom: 20px;
}
 .covid-card {
     display: flex;
     justify-content: space-between;
     gap: 25px;
     margin: 0px 0 30px;
 }
 .covid-card>div{
    width: 50%   ;
 }
 
 .covid-items {
     width: 100%;
     box-shadow: 0 0 10px rgba(0, 0, 0, .3);
     padding: 20px 20px 30px;
     border-radius: 25px;
 }

 .covid-items img {
     width: 100%;
     border-radius: 20px;
 }

 .covid-items a {
     text-decoration: none;
     color: var(--color-body-text);
 }


 /* -- QUALITY SECTION -- */

 .quality-container {
     display: flex;
     flex-direction: column;
     max-width: 100%;
     min-height: 11.25rem;
     background-color: var(--color-white);
     width: 100%;
     border-radius: 1rem;
     gap: 1rem;
     padding: 1rem 1rem;
 }

 .quality-container h3 {
     font-size: var(--size-cardHeading2);
 }

 .quality-items-container {
     width: 100%;
     display: flex;
     align-items: center;
     gap: 2rem;
     justify-content: flex-start;
     flex-wrap: wrap;

 }

 .quality-item {
     width: 30%;
     min-width: 270px;
     gap: 1rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     /* flex-grow: 0.4; */
 }

 .quality-item img {
     transition: all 0.3s ease-out;
 }

 .quality-item span {
     color: var(--color-text-blue);
     font-size: 2rem;
     font-weight: 700;
 }

 .quality-item p {
     font-size: 1.2rem;
     font-weight: 400;
 }

 .quality-item img:hover {
     transform: scale(1.2);
     transition: all 0.3s ease-in-out;
 }

 /* <--  Accreditation & Certification  --> */

 .achievements-container {
     display: flex;
     max-width: 100%;
     background-color: var(--color-white);
     width: 100%;
     border-radius: 1rem;
     gap: 1.5rem;
     align-items: center;
     justify-content: center;
     margin-top: 35px;
     padding: 25px 0;
 }

 .accreditation-container,
 .certification-container {
     width: 47%;
     box-shadow: 0 0 9px -5px;
     border-radius: 1rem;
     height: 80%;
     padding: 1rem 0.75rem;
 }

 .accreditation-container,
 .certification-container h3 {
     font-size: 1.25rem;
 }

 .accreditation-items {
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 .certification-items {
     width: 100%;
     display: flex;
     padding-top: 2rem;
     align-items: center;
     justify-content: space-between;

 }

 .certification-details p {
     font-size: 0.75rem;
     text-align: center;
     cursor: default;
 }

 .certification-title {
     width: 70%;

 }

 .certification-details {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-items: center;
 }

 /* --------------------- DOWNLOAD APP SECTION ---------------  */
 .app-card-container {
     background-color: var(--color-white);
     padding: 20px 15px;
     border-radius: 20px;
     margin-top: 30px;
 }

 .app-card {
     background-image: url("https://uat-cdn.drlallab.com/images/app-bg-home.png");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     height: 18.75rem;
     border-radius: 15px;

 }

 .app-card img {
     height: 4.0625rem;
     margin-top: 20px;
 }

 .app-card-text {
     display: flex;
     flex-direction: column;
     width: 40%;
     padding: 100px 0 0 80px;
 }

 .playstore {
     display: flex;
     justify-content: space-between;
 }

 .app-card-text h2 {
     font-size: var(--size-cardHeading2);
 }

 /* ------------ BLOG and ARTICLE SECTION ---------------------*/
 .blog-content .blog-item {
     border-radius: 0px;
     background-color: transparent;
     height: 13.5rem;
     width: 26rem;
 }

 .blog-item img {
     width: 100%;
     height: 60%;
 }

 .blog-content {
     align-items: center;
 }

 .blog-item>span {
     font-size: var(--size-12px);
 }

 .blog-item>p {
     margin-top: 5px;
 }
 .blog-container{
    position: relative;
 }
 .left-arrow, .right-arrow{
/* margin-left: px;  */
margin-top: -40px;
 }
 .blog-carausel .right-arrow{
    margin-right: 15px;
 }

 

 /* <!-- Experties --> */

 .experties-container {
     background-color: var(--color-white);
     border-radius: 15px;
     margin: 30px 0 30px;
     padding: 15px;
 }

 .experties-content h1 {
     font-size: var(--size-cardHeading2);
 }

 .experties-content h2 {
     font-size: var(--size-sub-heading);
 }

 .experties-content p {
     margin: 5px 0 15px;
 }


 /* <!-- Frequently Asked Question --> */

 .faq-container {
     max-width: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     background-color: var(--color-white);
     border-radius: 1rem;
     gap: 1rem;
     padding: 1rem 0.75rem;
     margin: 10px 0 35px;
 }
 .faq-container .view-all{
    align-self: flex-end;
 }
 .faq-container h3 {
     font-size: var(--size-cardHeading2);
     font-weight: 550;
 }

 .faq-buttons-container {
     display: flex;
     list-style: none;
     align-items: center;
     gap: 1rem;
     width: 100%;
     flex-wrap: wrap;
 }

 .faq-button {
     background-color: var(--color-grey-button);
     color: var(--color-white);
     padding: 0.5rem 3rem;
     border: none;
     border-radius: 1.2rem;
     font-size: 1rem;
     font-weight: 600;
 }

 .labs {
     background-color: var(--color-yellow);
     color: var(--color-black);
 }

 .faq-button:hover {
     background-color: var(--color-yellow);
     color: var(--color-black);
 }

 .faq-button:focus {
     background-color: var(--color-yellow);
     color: var(--color-black);
 }

 .faq-question {
     width: 100%;
     padding: 0.6rem;
     display: flex;
     align-items: center;
     gap: 1rem;
     border: 1px solid var(--color-yellow);
 }

 .faq-question .question {
     font-size: 1.2rem;
     color: var(--color-text-blue);
     font-weight: 500;
 }
 /* -----------Lab Test At Home and Popular Test Above Footer ---------*/

 .lab-testAtHome,
 .popular-test-at-footer {
     width: 100%;
     background-color: var(--color-background);
     padding: 20px 0;
 }

 .lab-test-container,
 .popular-test-container-at-footer {
     max-width: 1500px;
     margin: auto;
     width: 100%;
     background-color: var(--color-white);
     border-radius: 15px;

 }

 .location-list,
 .popular-test-list-at-footer {
     display: flex;
     gap: 7px;
     margin-top: 20px;
     flex-wrap: wrap;
     line-height: 25px;
 }

 .lab-test-content,
 .popular-test-content-at-footer {
     padding: 15px 15px 100px;

 }

 .lab-test-content h1,
 .popular-test-content-at-footer h6 {
     font-size: var(--size-cardHeading2);
     font-family: 'PT Sans', sans-serif;
     font-weight: 700;
     color: var(--color-cardHeading);
 }

 .location-list a,
 .popular-test-list-at-footer a {

     color: var(--color-black);
     text-decoration: none;
     transition: 0.2s ease-in-out;
 }

 .location-list a:hover,
 .popular-test-list-at-footer a:hover {
     color: var(--color-background-blue);
     text-decoration: underline;
 }

 .back-to-top{
    text-align: end;
}
.back-to-top img{
    margin-right: 7%;
}

/*------------- lets chat-------------------- */
.lets-chat{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #2DACF0;
    color: var(--color-white);
    z-index: 2;
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 6px 10px 0 #2DACF0;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.lets-chat:hover{
    bottom: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.lets-chat{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #2DACF0;
    color: var(--color-white);
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 6px 10px 0 #2DACF0;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.lets-chat:hover{
    bottom: 1.2rem;
    transition: all 0.3s ease-in-out;
}


.chat-form{
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;
    z-index: 20;
    display: flex;
    flex-direction: column;
    height: 32rem;
    width: 24.25rem;
    background-color: var(--color-white);
    transition: all 0.2s ease-out;
    box-shadow: 0 0 15px -5px;
    padding: 0 0 1rem 0.3rem;
    overflow: hidden;
    border-radius: 0.5rem;
}

.chat-form .helpline img{
    width: 3rem;
    height: 1.5rem;
}

.helpline{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-background);
    padding: 0.5rem;
}

.helpline-details span{
    font-size: 0.9rem;
}

.helpline-details p{
    font-size: 0.8rem;
}

.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 0 2rem 0;
}

.privacy{
    font-size: 0.7rem;
    align-self: center;
    color: var(--color-grey-button);

}

.privacy a{
    color: var(--color-grey-button);
    text-decoration: underline;
}

.message{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.message .time{
    align-self: center;
    font-size: 0.6rem;
    width: 25%;
    text-align: center;
    border-radius: 1rem;
    border: 0.5px solid var(--color-grey-button);
    color: var(--color-grey-button);
}

.message .welcome-text{
    width: 85%;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    border: 0.2px solid var(--color-grey-button);
}

.text-box{
    width: 100%;
    justify-self: flex-end;
}

.menu{
    color: var(--color-black);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.menu:active{
    color: #2DACF0;
}

.text-box input{
    width: 98%;
    border-radius: 1rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    outline: none;
    border: 2px solid #2DACF0;
    background-color: #b5daee;
}

.text-box input:focus{
    background-color: transparent;
}

.haptik{
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-grey-button);
}

.haptik span{
    font-weight: 700;
}

input[type=checkbox].hide-input:not(:checked) + .chat-form{
    height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.3s ease-in-out;
} 


 /*------------------------ Footer---------------------- */

 .footer-section {
     width: 100%;
     position: relative;
 }

 .footer-top {
     width: 100%;
     background-color: rgb(254, 204, 78);
     display: flex;
     flex-direction: column;
     align-items: center;
     font-family: 'PT sans';
     padding: 50px;
 }

 .footer-links {
     display: flex;
     width: 100%;
     max-width: 1280px;
     justify-content: space-around;
 }

 .link_col {
     display: flex;
     flex-direction: column;
 }

 .link_col h2 {
     text-transform: uppercase;
     font-size: 1rem;
     line-height: 20px;
     font-weight: 600;
 }

 .links {
     display: flex;
     flex-direction: column;

 }

 .links a {
     text-decoration: none;
     color: black;
     font-size: 14px;
     line-height: 21px;
     margin-top: 10px;
     text-transform: capitalize;
 }

 .footer-bottom {
     width: 100%;
     background-color: #0047Af;
     display: flex;
     justify-content: center;
     padding: 50px;
     font-family: 'PT sans';

 }

 .footer-bottom .copyright {
     max-width: 1280px;
     color: white;
     display: flex;
     gap: 8px;
     align-items: center;


 }

.footer-bottom a {
     text-decoration: none;
 }
 .footer-info div a{
    color: white;
 }

 .follow_us {
     color: white;
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin: 10px;
     text-transform: capitalize;
 }

 .social_icons {
     display: flex;
     gap: 4px;

 }

 .copyright h2 {
     font-weight: 700;
 }

 .footer_icons {
     background-color: #fecc4e;
     color: #0b51b3;
     border-radius: 50%;
     padding: 8px;
    
 }
.footer_icon i{
    font-size: 1.5rem;
}
.certificate-2 p{
    padding: 0 0 15px 0;
}

 /* ------MEDIA QUERY---- */
 
 @media screen and (max-width:1480px) {

     .centerr,
     .program-container,
     .popular-test-container {
         max-width: 1140px;
     }
 }

 @media screen and (max-width:1260px) {
     .navbar-bottom-content {
         gap: 10px;
     }

     .left {
         gap: 0;
         justify-content: space-between;
     }

     .centerr,
     .program-container,
     .popular-test-container {
         max-width: 960px;
     }
     .price p:nth-child(2) {
        width: 4.5rem;
     }
     .side-element{
        display: none;
     }
     .special-program{
        margin-top: 0px;
     }


 }

 @media screen and (max-width:1000px) {
     .navbar-top {
         display: none;
     }

     .left {
         display: none;
     }

     .right {
         flex-direction: column;
         align-items: start;
         margin: 0;
         flex-grow: 1;

     }

     .cart {
         position: absolute;
         left: 87%;

     }

     .cart img {
         margin: 0;
     }

     .navbar-bottom {
         position: relative;
         height: 160px;
         padding: 0 30px;
     }

     .navbar-bottom-content>img {
         transform: scale(1.1);
         flex-grow: 1;

     }

     .navbar-bottom-content {
         width: 50rem;
         margin: 0 auto;
         align-items: start;
         gap: 30px;
     }

     .search-test {
         display: flex;
         justify-content: space-around;
         width: 100vw;
         max-width: 90vw;
         position: absolute;
         top: 110px;
         left: 30px;
         align-items: center;
         gap: 50px;
     }

     .search-test form {
         flex-grow: 0.5;
         min-width: 50%;
     }

     .j-menu,
     .call {
         display: contents;
     }

     .location {
         margin-top: 20px;
     }

     .city-name {
         font-size: 14px;
         margin-top: -10px;
     }

     .centerr,
     .program-container,
     .popular-test-container {
         max-width: 780px;
     }

     html {
         font-size: 14px;
     }

     .achievements-container {
         flex-direction: column;
     }

     .accreditation-container,
     .certification-container {
         width: 90%;
     }

     .accreditation-items img {
         width: 150px;
     }

     .popular-test-content {
         width: 352%;
     }

     @keyframes test-slider {
         0% {
             left: 0;
         }

         20% {
             left: 0;
         }

         25% {
             left: -50%;
         }

         45% {
             left: -50%;
         }

         50% {
             left: -100%;
         }

         70% {
             left: -100%;
         }

         75% {
             left: -150%;
         }

         100% {
             left: -150%;
         }

     }

     .promotion-content {
         width: 300%;
     }

     @keyframes promotion {
         0% {
             left: 0;
         }

         20% {
             left: 0;
         }

         25% {
             left: -50%;
         }

         45% {
             left: -50%;
         }

         50% {
             left: -100%;
         }

         70% {
             left: -100%;
         }

         75% {
             left: -150%;
         }

         100% {
             left: -150%;
         }

     }


 }

 @media screen and (max-width:980px) {
     .footer-bottom .copyright {
         flex-direction: column;
     }

     .footer-links {
         visibility: hidden;
         height: 50px;
         overflow: hidden;
     }

     .footer-top {
         padding: 0%;
     }
     .carausel{
        display: none;
     }


 }

 @media screen and (max-width:830px) {

     .centerr,
     .program-container,
     .popular-test-container {
         max-width: 650px;
     }

     .test-searchBar {
         flex-grow: 1;
     }

     .test-packages-content {
         width: 190%;
     }

     .app-card-text {
         padding: 100px 0 0 30px;
     }

     .app-card img {
         height: 2.0625rem;
         margin-right: 20px;
     }

 }

 @media screen and (max-width:700px) {
     .footer-top {
         visibility: hidden;
         overflow: hidden;
         height: 80px;
         position: absolute;
     }

     html {
         font-size: 10px;
     }

     .centerr,
     .program-container,
     .popular-test-container {
         max-width: 500px;
     }

     .program-carausel {
         margin: 30px auto 40px;
     }

     .special-program {
         height: 240px;
     }

     .popular-test-content {
         width: 700%;
         margin-left: 0px;
     }

     .app-card-text {
         padding: 70px 0 0 30px;
     }
     .covid-card>div {
        width: 100%;
     }
     @keyframes test-slider {
         0% {
             left: 0;
         }

         20% {
             left: 0;
         }

         25% {
             left: -100%;
         }

         45% {
             left: -100%;
         }

         50% {
             left: -200%;
         }

         70% {
             left: -200%;
         }

         75% {
             left: -300%;
         }

         100% {
             left: -300%;
         }

     }

     .quality-item img {
         width: 90px;
     }

     .covid-card {
         flex-wrap: wrap;
     }

     .covid-items {
         flex-grow: 1;
         padding: 10px 10px 10px;
     }

     .promotion-content div {
         margin: 5px;
     }

     .promotion-item p {
         top: 115px;
     }

     .explore-more-container {
         padding: 10px 10px;
     }

     .explore-content {
         gap: 5px;
     }

 }

 @media screen and (max-width:420px) {

     .centerr,
     .program-container,
     .popular-test-container {
         max-width: 350px;
     }

     .app-card {
         height: auto;
     }

     .app-card-text {
         padding: 20px 0 0 30px;
     }

     .app-card img {
         height: 2.0625rem;
         margin: 10px 10px 10px 0;
     }

     .app-card-container {
         padding: 8px;
     }

     .location {
         margin-left: -50px;
     }

     .navbar-bottom-content img {
         transform: scale(0.8);
     }

     .navbar-bottom {
         padding: 0 10px;
     }

     .test-packages-content {
         width: 240%;
     }

     .blue-card-items {
         width: auto;
     }

     .blue-card-items a div img {
         width: 50px;
     }

     .blue-card-items a h3 {
         text-align: center;
     }

     .accreditation-items img {
         width: 90px;
     }

     .test-packages-button {
         gap: 8px;
     }

     .quality-item img {
         width: 50px;
     }

     .search-test {
         left: 15px;
         gap: 10px;
     }

     .navbar-bottom-content>img {
         margin-left: -10px;
     }

     .promotion-container {
         padding: 5px 8px;
     }

     .blog-item img {
         height: 40%;
     }

     .promotion-content {
         margin: 0;
     }
     .certification-items {
        flex-direction: column;
     }
     
 }


 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: var(--color-background-blue);
 }
